p.sinopse{
    font-size: 26px;
    text-align: justify;
    margin-top: 10px;
}
h1{
    margin: 10px;
}
h2.nome{
    margin-bottom: 10px;
}
table.detalhes{
    width: 100%;
    text-align: left;
    /* border-collapse faz com que as bordas fiquem juntas como num excel*/
    border-collapse: collapse;
}
table.detalhes{
    width: 100%;
}

table.detalhes td:nth-child(3) {
    width: 210px;
}

table.detalhes td{
    /* border: 1px solid gray; */
    padding: 4px 10px;
    vertical-align: top;
}

img.imagem{
    width: 300px;
}

