i.material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;  /* Preferred icon size */
    display: inline-block;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;

    /* Support for all WebKit browsers. */
    -webkit-font-smoothing: antialiased;
    /* Support for Safari and Chrome. */
    text-rendering: optimizeLegibility;
}

body {
	background-color: #014d45;
    font-family: Tahoma, serif;
}

h1{
    text-align: center;
    font-size: 34px;
}

div#body {
    width: 1000px;
    margin: auto;
    padding: 20px;
    border-radius: 15px;
    background-color: lightblue;
    box-shadow: 0 0 20px #576e6e;
}

footer {
    text-align: center;
    font-family: Arial;
    font-size: 11px;
}

p.pequeno {
    text-align: right;
}

form#busca{
    font-size: 11px;
    text-align: right;
}

div.sucesso{
    padding: 7px 15px;
    margin-bottom: 15px;
    border-radius: 15px;
    background-color: rgb(226, 239, 218);
    color: rgb(74, 116, 67);
}
div.aviso{
    padding: 7px 15px;
    margin-bottom: 15px;
    border-radius: 15px;
    background-color: rgb(251, 248, 229);
    color: rgb(134, 110, 66);
}
div.erro{
    padding: 7px 15px;
    margin-bottom: 15px;
    border-radius: 15px;
    background-color: rgb(239, 223, 222);
    color: rgb(157, 75, 69);
}

