body {
	background-color: lightblue;
    font-family: Tahoma, serif;
    font-size: 30px;
}
h1{
    text-align: center;
    font-size: 40px;
}
div#body {
    width: 1300px;
    margin: auto;
    padding: 20px;
    border-radius: 15px;
    background-color: bisque;
    box-shadow: 0 0 20px gray;
}

