body {
	background-color: lightblue;
    font-family: Tahoma, serif;
}

h1{
    text-align: center;
    font-size: 34px;
}

div#body {
    width: 1000px;
    margin: auto;
    padding: 20px;
    border-radius: 15px;
    background-color: bisque;
    box-shadow: 0 0 20px gray;
}

footer {
    text-align: center;
    font-family: Arial;
    font-size: 11px;
}

header {
    text-align: right;
}

form#busca{
    font-size: 11px;
    text-align: right;
}

