table.listagem{
    width: 100%;
    text-align: left;
    /* border-collapse faz com que as bordas fiquem juntas como num excel*/
    border-collapse: collapse;
}
table.listagem tr {
    height: 50px;
}
table.listagem td{
    /*border: 1px solid gray;*/
    padding: 10px;
}
table.listagem tr:nth-child(even) {
    background-color: lightblue;
}
table.listagem td:nth-child(1){
    width: 50px;
}
table.listagem td:nth-child(3){
    width: 90px;
}

img.mini{
     width: 120px;
 }